
<section class="about">
    <div class="container">
      <h1>About Me</h1>
      <div class="content">
        <div class="bio">
          <h2>Who I Am</h2>
          <p>Software engineer with a robust background in web-application development and AI research. Eager to contribute to innovative projects, bringing a collaborative spirit, a passion for AI driven solutions, and commitment for continuous learning and professional growth.</p>
        </div>
        <div class="skills">
          <h2>My Skills</h2>
          <div class="skill-tags">
            <span class="skill-tag">Python</span>
            <span class="skill-tag">Java</span>
            <span class="skill-tag">TypeScript</span>
            <span class="skill-tag">JavaScript</span>
            <span class="skill-tag">HTML</span>
            <span class="skill-tag">CSS</span>
            <span class="skill-tag">Angular</span>
            <span class="skill-tag">FastAPI</span>
            <span class="skill-tag">Flask</span>
            <span class="skill-tag">Keycloak</span>
            <span class="skill-tag">Argo</span>
            <span class="skill-tag">Kubernetes</span>
            <span class="skill-tag">GitLab CI</span>
            <span class="skill-tag">Git</span>
            <span class="skill-tag">Docker</span>
            <span class="skill-tag">MLFlow</span>
            <span class="skill-tag">PyTorch</span>
            <span class="skill-tag">OpenCV</span>
            <span class="skill-tag">Scikit-learn</span>
            <span class="skill-tag">SQL</span>
            <span class="skill-tag">PostgreSQL</span>
            <span class="skill-tag">FirebaseDB</span>
            <span class="skill-tag">RESTful APIs</span>
            <span class="skill-tag">Microservices</span>
            <span class="skill-tag">Agile/Scrum</span>
            <span class="skill-tag">Unit Testing</span>
          </div>
        </div>
      </div>
    </div>
  </section>