<footer class="footer">
  <div class="container">
    <div class="social-links">
      <a href="https://github.com/kmajeshkrishnan" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://linkedin.com/in/kmajeshkrishnan" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
    <div class="copyright">
      <p>&copy; {{currentYear}} Ajesh Krishnan. All rights reserved.</p>
    </div>
  </div>
</footer> 