<div class="gift-page">
  <div *ngIf="!showContent" class="gift-box-container">
    <div class="gift-box">
      <div class="gift-lid"></div>
      <div class="gift-body"></div>
      <div class="gift-ribbon-v"></div>
      <div class="gift-ribbon-h"></div>
      <div class="gift-bow"></div>
    </div>
  </div>

  <div *ngIf="showContent" class="gift-reveal">
    <img src="assets/ajesh.jpg" alt="Your Gift" class="gift-image" />
    <p class="gift-message">Why you need other gifts when you have me? 😉 
        <br> Happy Valentine's Day ❤️
    </p>
  </div>
</div>
